*{
    font-family: 'Lucida fax';
    margin: auto;
    text-decoration: none;
} 
.navbar{
    display: flex;   
    margin: auto;
    margin-bottom: 0;
    height: 7rem;
}
.logo > a > img{
    height: 3em;
    width: 7em;
    vertical-align: middle;
}
.logo{
    width: 4em;
    margin-left: 1em;
}
.login{
    border-radius: 40px;
    padding: 1.1rem;
    margin-left: 5em;
}
.login > a{
    font-size: 1.8rem;
    text-decoration: none;
    color: black;
    display: inline;
    padding: 25px 10px;
}
.login>img{
    vertical-align: middle;
}
.searchbtn > img {
    height: 2.3rem;
    width: 3em;
    vertical-align: middle;
}
.searchbtn{
    background-color: white;
    border: none;
}
.searchbar > form > input{
    height: 4rem;
    width: 24rem;
    border: none;
}
input:focus{
    outline: none;
}
.searchbar{
    border: solid black;
    padding: 0.2em 0.8em;
    margin-left: 10rem;
    border-radius: 25px;
    border-width: 0.08em;
    background-color: white;
}
.menubar{
    margin-left: 0;
}
.menubar > ul{
    list-style: none;
    margin-left: 2rem;
}
.menubar > ul > li{
    display: inline-block;
    font-size: 1.8rem;
    height: auto;
}
.menubar > ul > li > a{
    color: black;
    text-decoration: none;
    display: block;
    padding: 20px 10px;
}
.menubar > ul > li > a:hover, .login > a:hover{
    background-color: black;
    color: white;
}
.flex-container{
    display: flex;
    margin: 2em 2em;
}
.con-content{
    margin: 5em 3em;
    background-color: #1a1336;
    color: white;
    padding: 2.3rem;
    height: 20em;
    width: auto;
}